# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Excel temporales
~$*.xlsx

# Editores / IDE
.idea/
*.swp

# Configuración Github Copilot
.github/copilot-instructions.md

# Local environment configuration
.env